<script lang="ts" setup>
</script>

<template>
  <div class="<%= componentName.toLowerCase() %>-container">
    <!-- 组件内容 -->
  </div>
</template>

<style lang="scss" scoped>
.<%= componentName.toLowerCase() %>-container {
  // 在这里添加样式
}
</style>